<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SurveyGeneratorConnectionString"
         connectionString="Data Source=frgnbdev01.cat.groupecat.com;
         Initial Catalog=SurveyGenerator;persist security info=True;user id=devadmin;password=D3V@dm1n"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>